<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Les amis des animaux</title>
</head>
<body>
    <header>
        <ul class="m-header">
            <li><a id="facebook" href="#">Rejoignez-nous</a></li>
            <li><a id="mail" href="#">Contact</a></li>
        </ul>
        <h1>Les amis des animaux</h1>
        <p id="asbl">a.s.b.l</p>  
    </header>      
    <nav class="menubkg">
        <ul class="menu">
            <li><a href="#">Notre assosciation</a>
            <li class="sous-menu">Comment nous aider?</li>
            <li class="sous-menu">Faites un don</li>
            <li class="sous-menu">Adopter</li>
            </li>
            <li><a href="#">Adoptions & Cessions</a></li>
            <li><a href="#">Nos Services</a></li>
            <li><a href="#">Centre de Documentation</a></li>
            <li><a href="#">Forum</a></li>
        </ul>
    </nav>
    <section>
        <h2>Notre association :</h2>
        <p>
            Créée le 2 janvier 1986, l'asssociation a pour objet l'hébergement, 
            dans la mesure de ses possibilités, d'animaux domestiques (chiens, chats
            oiseaux et autres petits animaux) abandonnés, trouvés, ou victimes de 
            mauvais traitements.
        </p>
        <p>
            Pour la réalisation de son but, l'association gère un refuge pour 
            animaux où ceux-ci reçoivent outre l'asile, les soins nécessaires, 
            la nourriture et sont proposés à l'adoption lorsque cela est possible.
        </p>
        <p>
            Lors de la création, l'association se voulait également culturelle, 
            informative et éducative, afin de développer au sein de la population une 
            meilleure connaissance des animaux et de la nature et une plus grande 
            conscience des problèmes animaliers susceptibles d’engendrer les comportements 
            nécessaires à la protection des animaux et à la défense de la nature ».
        </p>
        <p>
            Prise par le côté "protection et accueil", elle se concentre uniquement
            sur l'accueil des animaux, mais reste néanmoins informative 
            afin que toute adoption soit une réussite.
        </p>
    </section>
    <form action="#">
        <label for="email">Entrez votre email</label>
        <input type="email">
        <label for="name">Entrez vos noms & prénoms</label>
        <input type="text">
        <label for="numero">Entrez votre numéro</label>
        <input type="text">
        <label for="adresse">Votre adresse complète</label>
        <input type="text">
        <label for="message">Entrez votre message</label>
        <textarea name="" id="message" cols="30" rows="10"></textarea>
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>