body {
    font-family: 'PT Serif', serif;
}

.m-header {
    display: flex;
    margin-right: 0%;
    justify-content: flex-end;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-left: 20%;
    font-size: 3em;
    margin-bottom: 0;
}

#asbl {
    margin-left: 20%;
    margin-top: 0;
}

li {
    padding-right: 10px;
}

.menubkg {
    font-size: 16px;
    padding: 5px;

}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.sous-menu, .sousmenu1, .sous-menu2, .sous-menu3, .sous-menu4{
    display: none
}
.menu li{
    border-bottom: 1px black solid;
    padding-bottom: 2px;
    border-radius: 6%;
}

input, textarea{
    display: flex;
    padding-top: 10px;
}



section{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    border-left: 4px black solid;
    padding-left: 14px;
    border-radius : 2%;
}
#bouton{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#formulaire{
    display: none;
}
.boite_image{
    text-align: center;
    margin-bottom: 0px;
}
.img_arrondi{
    border-radius: 50%;
}
img{
    width: 10%;
    padding-left: 10px;
}